body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Roboto';
  font-weight: 700 !important;
  font-size: 44px !important;
  line-height: 48px !important;
}

h2 {
  font-family: 'Roboto';
  font-weight: 700 !important;
  font-size: 28px !important;
  line-height: 32px !important;
  margin-bottom: 8px;

  border-bottom: 1px solid #999;
  margin-bottom: 1em;
}

h3 {
  font-family: 'Roboto';
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 28px !important;
}

h4 {
  font-family: 'Roboto';
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 24px !important;
}

h5 {
  font-family: 'Roboto';
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

p {
  font-family: 'Roboto';
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  margin-bottom: 1rem !important;
}

label {
  font-family: 'Roboto';
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #999999 !important;
  margin: 10px 0 !important;
}

strong {
  font-weight: bold;
}

button {
  cursor: pointer;
}
